{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "printWidth": 80,
  "proseWrap": "always",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "semi": true,
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "<THIRD_PARTY_MODULES>",
    "assets",
    "^assets/(.*)$",
    "components",
    "^components/(.*)$",
    "config",
    "^config/(.*)$",
    "enums",
    "^enums/(.*)$",
    "helpers",
    "^helpers/(.*)$",
    "hooks",
    "^hooks/(.*)$",
    "i18n",
    "^i18n/(.*)$",
    "layout",
    "^layout/(.*)$",
    "navigation",
    "^navigation/(.*)$",
    "providers",
    "^providers/(.*)$",
    "screens",
    "^screens/(.*)$",
    "store",
    "^store/(.*)$",
    "test",
    "^test/(.*)$",
    "utils",
    "^utils/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
